* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 225);
}

header {
    padding: 40px;
    width: 800px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 1px 1px 10px gray;
    background-color: rgb(235, 235, 235);
}

header ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

header ul button:hover {
    color: blue;
}

/* Main & Card */
main {
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 150px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 32px;
    background-color: rgb(235, 235, 235);

    display: none;
    flex-direction: column;
    gap: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: darkblue;
    border-radius: 8px;
    color: rgb(235, 235, 235);
}

.card:hover {
    box-shadow: 5px 5px 1px rgb(255, 197, 197);
    cursor: pointer;
}

.card-name {
    font-size: 30px;
    font-weight: bold;
}

#flip-card-container {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#click-to-flip-card-info {
    color: gray;
    cursor: pointer;
}

#click-to-flip-card-info:hover {
    color: black;
}

#flip-card-info {
    display: none;
}

/* View Cards */
#view-cards {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 150px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 32px;
    background-color: rgb(235, 235, 235);
}

#view-cards-table {
    width: 100%;
}

#view-cards-table tr {
    display: flex;
    flex-direction: space-between;
}

#view-cards-table td,
th {
    width: 50%;
}

#view-cards-table td {
    padding-top: 20px;
    padding-bottom: 10px;
}

#view-cards-table th {
    text-align: left;
}

/* Add a card */
#add-a-card-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    margin-top: 150px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 32px;
    background-color: rgb(235, 235, 235);
}

#add-a-card-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label[for='add-card']{
    font-size: 0px;
}

#add-card-title{
    width: 300px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

#add-card-definition{
    padding: 10px;
    font-size: 16px;
}

#add-card{
    cursor: pointer;
    padding: 10px;
    width: 120px;
    border-radius: 16px;
}

#add-card:hover{
    background-color: darkblue;
    color: white;
    font-weight: 700;
    border: 2px solid white;
}