* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 225);
}

header {
    padding: 20px;
    width: 800px;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    box-shadow: 1px 1px 10px gray;
    background-color: rgb(235, 235, 235);
}

header ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header ul button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}

header ul button:hover {
    color: blue;
}

/* Main & Card */
main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    margin-top: 150px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 32px;
    background-color: rgb(235, 235, 235);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid red;
    box-shadow: 1px 1px 5px white;
}